.title {
    font-size: 1.7rem;
    font-weight: 600;
    color: $color-black;
    padding: 3rem 0;

}
.bodywrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice{
    width:20%;
    
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    .multiselect {
        width: 100%;
      }
      
    .selectBox {
        position: relative;
        
      }
      
      
    .selectBox select {
        width: 100%;
        font-weight: bold;

        border:none;
        
      }
      
      .overSelect {
        position: absolute;
        
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
      }
          
      #checkboxes {
        display: flex;
        flex-direction: column;
        border: 1px #dadada solid;
        border:none;
       
      }
      
      #checkboxes label {
        display: block;
      
      }
      
      #checkboxes label:hover {
        background-color: #1e90ff;
      }
      
      

}
.text {
    font-size: 0.8rem;
    color: $color-greytext
}
.view {
    border:none;
    outline:none;
   
}
.bottomborder {
    border-bottom: 1px solid $color-lightgrey;
    margin: 1rem 0;
}




.products {
    width:80%;
}
.productline {

    display: flex;
    justify-content:space-around;
    align-items: center;

}



.product {

    // width: 15%;
    margin: 2rem;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.9rem;
    .image {
        width: 6rem;
        margin: 3rem;

    }
    .name {
        font-size: 0.8rem;

        &__text1 {
        font-weight: 500;
        letter-spacing: 0.03em;
        }

        &__text2 {
        font-weight: 200;
        letter-spacing: 0.03em;
        color: $color-greytext;
        

        }
    }
    .pricerating {
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1rem;
        
        &__pricenew {
            font-size: 0.9rem;
            font-weight: 700;


        }
        &__priceold {
            font-size:0.8rem;
            font-weight: 200;
            text-decoration: line-through;
            color: $color-greytext;

        }
        &__rating {
            margin:-1.8px;

        }
        
    }


}