.title {
    font-size: 1.7rem;
    font-weight: 600;
    color: $color-black;
    padding-top: 3rem;

    &__bottom {
        padding-top:0;
        text-align: center;
        font-size: 1.7rem;
    }
}
.bodywrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.choice{
    width:20%;
    
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    .multiselect {
        width: 100%;
      }
      
    .selectBox {
        position: relative;
        
      }
      
      
    .selectBox select {
        width: 100%;
        font-weight: bold;

        border:none;
        
      }
      
      .overSelect {
        position: absolute;
        
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
      }
          
      #checkboxes,
      #checkboxes1,
      #checkboxes2,
      #checkboxes3,
      #checkboxes4
      #checkboxes5,
      #checkboxes6,
      #checkboxes7,
      #checkboxes8 {
        display: flex;
        flex-direction: column;
        border: 1px #dadada solid;
        border:none;
       
      }
      
      #checkboxes label,
      #checkboxes1 label,
      #checkboxes2 label,
      #checkboxes3 label,
      #checkboxes4 label,
      #checkboxes5 label,
      #checkboxes6 label,
      #checkboxes7 label 
      #checkboxes8 label       {
        display: block;
      
      }
      
      #checkboxes label:hover {
        background-color: #1e90ff;
      }
      
      

}
.text {
    font-size: 0.8rem;
    color: $color-greytext
}
.view {
    border:none;
    outline:none;
   
}
.bottomborder {
    border-bottom: 1px solid $color-lightgrey;
    margin: 1rem 0;
}




.products {
    width:80%;
    
}

.wrappersmall {
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 0;

    .matches {
    font-size: 0.8rem;
    padding: 0 1.5rem;
    }   

.selectposition{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    }
    .view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $color-lightgrey;
        border-radius: 5px;
        padding: 0.5rem;
        width:6rem;
        
        .p{
            color: $color-lightgrey;
            font-size: 0.8rem;
        }
    }
    .sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $color-lightgrey;
        border-radius: 5px;
        padding: 0.3rem;
        width:12rem;
        
        .p{
            color: $color-lightgrey;
            font-size: 0.8rem;
        }
    }

    .select {

        
        // padding:1rem;
        // color: $color-greytext;
        border: none;

    }




}



.productline {

    display: flex;
    justify-content:space-evenly;
    align-items: center;

}



.product {
        width: 30%;

        // margin: 0 2rem;
        padding:0 2rem;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
    .image {
        width: 6rem;
        height: 14rem;
        margin: 3rem;

    }
    .name {
        font-size: 0.8rem;
        text-align: justify;
        // display:flex;
        // justify-content: space-between;
        // align-items: flex-start;
        
        &__text1 {
        font-weight: 500;
        letter-spacing: 0.03em;
        color: $color-black;
        }

        &__text2 {
        font-weight: 200;
        letter-spacing: 0.03em;
        color: $color-greytext;
        

        }
    }
    .pricerating {
        width:100%;
        display:flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 2rem;
        
        &__pricenew {
            font-size: 0.9rem;
            font-weight: 700;


        }
        &__priceold {
            font-size:0.8rem;
            font-weight: 200;
            text-decoration: line-through;
            color: $color-greytext;

        }
        &__rating {
            margin:-1.8px;

        }
        
    }
    &__borders{
        border-left: 1px solid $color-lightgrey;
        border-right: 1px solid $color-lightgrey;
    }
    
}
.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin:1rem auto;
    padding: 0.3rem;
    width:8rem;
    
    .p{
        color: $color-lightgrey;
        font-size: 0.8rem;
    }
    .select {
        border: 1px solid $color-lightgrey;
        padding: 3px 4px;
    }
}
.swiper {
    width: 100%;
    height: auto;
  }
.bestproducts {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    // gap:0.5rem;

}
.bestproduct {
    position: relative;
    width: 25%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start ;
    gap:0.5rem;
    border: 1px solid $color-lightgrey;
    margin: 1rem;
    padding: 0.5rem;

    &__img {
        margin: 0 auto;
    }
    &__name {
        font-size: 0.8rem;
        font-weight: 200;
        padding-bottom: 0.5rem;
    }
    &__price {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.1rem;
    }
}







.bottomcontainer {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.help {
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:0.6rem;
    margin: 1.5rem 0;

    &__title {
        font-size: 0.8rem;
        font-weight: 600;
    }
    &__text {
        font-size: 0.8rem;

    }
    &__text1 {
        font-size: 0.6rem;
    }
    &__input {

        position: relative;
        border: 1px solid $color-lightgrey;
        border-radius: 7px 0 0 7px;
        width:17rem;
        

    
    &:focus-visible{
        outline: none;
    }
    }
    .input__cont {
        display: flex;
        gap: 0;
    }
    .email{
        display:flex;
        flex-direction: column;
        gap:0;
    }
}
.footer {
    &__navigation {
    
    color: $color-white;
    background-color: $color-blue;
    width:100vw;
    
    font-size: 0.9rem;
    font-weight: 200;
   

    .lists {
        padding:0 6rem;
        margin:0;
        height: 2.5rem;

        display: flex;
        justify-content: space-evenly;
        align-items:center;
        list-style-type: none;
    }
    .list {
        padding:2rem;
    }
    }

    &__information {
        margin-top: 2.5rem;;
        display:flex;
        justify-content: space-around;
        align-items: flex-start;

        .textbox {
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap:0.2rem;
        }
        .textheader {
            padding:0.5rem 0;
            font-size: 0.7rem;
            font-weight: 600;
            color: $color-black;
        }
        .texttext {
            font-size: 0.7rem;
            font-weight: 200;
            color: $color-black;
        }
        .footer__img {
            padding-bottom:1rem;
        }
        .imgflex {
            display: flex;
            gap:0.5rem;
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap:0.5rem;

        .texttext {
            font-size: 0.7rem;
            font-weight: 200;
            color: $color-black;
        }
    }
}