.header {
    width: 100%;
    height: auto;
    top: 0;
    background-color: $color-lightgrey;
   

    &__top {
        height: 2rem;
        background-color: $color-black;
        color: $color-white;
        text-align: center;
        font-size: 0.9rem;
        padding:0.5rem;

    }

    &__center {
        background-color: $color-lightgrey;
        height: 4.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
       
        .logo {
            display:flex;
            justify-content: flex-start;
            align-items: center;
            

            &__img {
            // height: 3rem;
                padding: 0.4rem;
            }
            &__title {
                color: $color-black;
                font-weight: 600;

            }
        }
        .input{
            position: relative;
            display: inline-block;
            
            width: 50%;
            margin-left: 3rem;
           
            &:focus {
                outline:0;
                border:none;

            }
           

            &__text {
            width: 80%;
            border-radius: 20px;
            border: none;
            margin: 1rem;
            padding: 0.8rem 2.5rem;
            color: $color-greytext;
            background-color: $color-white;
            
            &:focus-visible{
                outline: none;
            }
           
            }
            
            

            &:before {
                content: url('../img/icons/search.svg');
    
                position:absolute;
                width: 1rem;
                height: 1rem;
                
    
                top: 1.65rem;
                left:1.7rem;
                z-index: 9;
               } 

        }
       
        .side {
            width: 30%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            font-size: 0.8rem;
            font-weight: 200;


           &__container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
           } 
           &__element {
               padding-right: 0.7rem;
           }

            
        }
    }
    &__navigation {
        
        background-color: $color-white;

        font-size: 0.8rem;
        font-weight: 400;
        

        .lists{
            margin: 0;
            padding-left:0;
            height: 3.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            list-style-type: none;
        }
        .list {
            padding: 2rem;
            
            &:first-child{
                padding:0.65rem;
            }
        }
       
      
        .red {
            color:red;
        }
    


    }
    &__banner {
        background-image: url('../img/banner.jpg');
        height: 464px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 2rem 0;

        .text {

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            padding: 4rem 10rem;

            &__head {
            font-size: 2rem;
            font-weight: 700;
            color:$color-white;

        }
            &__descr {
            font-size: 0.8rem;
            font-weight: 100;
            color:$color-white;
        }
    }
    }
    .burger {
        display: none;
        cursor: pointer;
      }
      
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin:5px;
        
        
      
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      
        background-color: $color-blue;
      }

    
}