.structure {
    padding:1.5rem 0;
    color:$color-greytext;
    font-size: 0.8rem;
    font-weight: 400;

    .span {
        color:$color-black;
    }
}
.linkproduct {
    font-size: 0.85rem;
    color:$color-link;
    }

.productpage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:8rem;

        .productpart {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 50%;
            padding:0 1.5rem;
            &__img {
                margin:0 auto;
                padding: 1rem 0;
                height: 32rem;

            }
            .gallery {
                display:flex;
                justify-content: flex-start;
                align-items: center;
            }
            .smallimage {
                width:5rem;
                height: 5rem;
                margin:0.5rem;
                border: 1px solid $color-lightgrey;
            }
            .border {
                width:100%;
                margin-top: 1.5rem;
            }
            .productselect {
                width:100%;

                .option{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    color: $color-black;
                    

                }                
            }
            .product__price {
                font-size: 1.5rem;
                font-weight: 600;
                color: $color-black;
                padding-top: 1.5rem;

            }

            .stars {
                display:flex;
                justify-content: flex-start;
                align-items: center;
                gap:0.3rem;
            }
            .part {
                display:flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
                font-size: 0.85rem;
                margin: .5rem 0 1.5rem 0;
                &__var {
                    padding: 5px 10px;
                    
                    border: 1px solid $color_lightgrey;
                    
                }
                &__blue{
                    padding: 5px;
                    border: 1px solid $color-link;
                    color:$color-link;
                }
                &__title{
                    
                    width:5rem;
                }
                &__circle {
                    position:relative;
                    border: 1px solid $color-lightgrey;
                    border-radius:50%;
                    height:2rem;
                    width:2rem;
                }
                .img {
                    position: absolute;
                    margin:0.85rem 0.28rem;
                }
                .img1 {
                    position: absolute;
                    margin:0.25rem 0.25rem;
                }
            }
            .receive {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap:0.5rem;

                font-size: 0.85rem;
                &__row {
                    display: flex;
                    justify-self: start;
                    align-items: center;
                    gap:0.5rem;
                }
                
            }
            .part__buy {
                font-size: 0.8rem;
            }
            
            
        }

}







.color {
    background-color: $color-lightgrey;
    color:$color-black;
    font-weight: 400;
    padding: 2rem 0;
    
    &__1 {
        margin-right:1rem;
    }
    &__2 {
        margin-left: 1rem;
    }
    &__3 {
        padding:0;
    }
}