* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 7px;
  background-color: #0772BF;
  padding: 0.8rem;
}

.btn__clear {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  padding: 0.5rem 2rem;
}

.header {
  width: 100%;
  height: auto;
  top: 0;
  background-color: #C4C4C4;
}

.header__top {
  height: 2rem;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.header__center {
  background-color: #C4C4C4;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center .logo__img {
  padding: 0.4rem;
}

.header__center .logo__title {
  color: #000000;
  font-weight: 600;
}

.header__center .input {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-left: 3rem;
}

.header__center .input:focus {
  outline: 0;
}

.header__center .input__text {
  width: 80%;
  border-radius: 20px;
  border: none;
  margin: 1rem;
  padding: 0.8rem 2.5rem;
  color: #A9A9A9;
  background-color: #FFFFFF;
}

.header__center .input:before {
  content: url("../img/icons/search.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 1.65rem;
  left: 1.7rem;
  z-index: 9;
}

.header__center .side {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-weight: 200;
}

.header__center .side__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center .side__element {
  padding-right: 0.7rem;
}

.header__navigation {
  background-color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 400;
}

.header__navigation .lists {
  margin: 0;
  padding-left: 0;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__navigation .list {
  padding: 2rem;
}

.header__navigation .list:first-child {
  padding: 0.65rem;
}

.header__navigation .red {
  color: red;
}

.header__banner {
  background-image: url("../img/banner.jpg");
  height: 464px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}

.header__banner .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4rem 10rem;
}

.header__banner .text__head {
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}

.header__banner .text__descr {
  font-size: 0.8rem;
  font-weight: 100;
  color: #FFFFFF;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #000000;
  padding: 3rem 0;
}

.bodywrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.choice {
  width: 20%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrap .multiselect {
  width: 100%;
}

.wrap .selectBox {
  position: relative;
}

.wrap .selectBox select {
  width: 100%;
  font-weight: bold;
  border: none;
}

.wrap .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.wrap #checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #dadada solid;
  border: none;
}

.wrap #checkboxes label {
  display: block;
}

.wrap #checkboxes label:hover {
  background-color: #1e90ff;
}

.text {
  font-size: 0.8rem;
  color: #A9A9A9;
}

.view {
  border: none;
  outline: none;
}

.bottomborder {
  border-bottom: 1px solid #C4C4C4;
  margin: 1rem 0;
}

.products {
  width: 80%;
}

.wrappersmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrappersmall .matches {
  font-size: 0.8rem;
  padding: 0 1.5rem;
}

.wrappersmall .select {
  padding: 0.3rem;
  color: #A9A9A9;
}

.productline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  width: 30%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9rem;
}

.product .image {
  width: 6rem;
  height: 14rem;
  margin: 3rem;
}

.product .name {
  font-size: 0.8rem;
  text-align: justify;
}

.product .name__text1 {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #000000;
}

.product .name__text2 {
  font-weight: 200;
  letter-spacing: 0.03em;
  color: #A9A9A9;
}

.product .pricerating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
}

.product .pricerating__pricenew {
  font-size: 0.9rem;
  font-weight: 700;
}

.product .pricerating__priceold {
  font-size: 0.8rem;
  font-weight: 200;
  text-decoration: line-through;
  color: #A9A9A9;
}

.product .pricerating__rating {
  margin: -1.8px;
}

.product__borders {
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
}
/*# sourceMappingURL=styles.css.map */